<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{%static 'css/cinema_style.css'  %}" type="text/css">


</head>


<body>

   <center><div id="reg">

    <form class='text-left' method="POST" action="{% url 'cinemaseats' %}">

        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" >Dalej</button>

    </form>

   </div></center>


</body>
</html>